body {
  font-size: 0.9em;
  color: #07302D;
  font-family: "Karla", "Arial Nova", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, #2C7673 0% 16.65%, #D2EBF0 16.65% 100%);
}
body::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  /* or add it to the track */
  height: 90%;
}
body::-webkit-scrollbar-thumb {
  background-color: #D2EBF0;
  border: rgba(255, 255, 255, 0.8) 2px solid;
}
body::-webkit-scrollbar-track {
  margin-top: 10vh;
  background-color: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
}

.logo {
  width: 80%;
  display: inline-block;
  margin-top: 1em;
}

.icon {
  width: 15%;
  opacity: 0.8;
  vertical-align: middle;
  left: 0;
  margin: 1em 1.8em 1em 1.8em;
}

.auto_height, .round_icon, .search_icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.search_icon {
  align-self: center;
  vertical-align: middle;
  align-self: center;
  display: inline-flex;
}

.round_icon {
  margin: 0.2em;
  box-shadow: 0.15em 0.15em 0.4em rgba(0, 0, 0, 0.08);
  border-radius: 100% 100% 100% 100%;
  align-self: center;
  display: inline-flex;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  cursor: pointer;
}

a.animated, a.nav_linkje {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #C25A21;
  color: #C25A21;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
a.animated:hover, a.nav_linkje:hover {
  box-shadow: inset 300px 0 0 0 #C25A21;
  color: #D2EBF0;
}
a.animated:hover.a_btn, a.nav_linkje:hover.a_btn {
  box-shadow: none !important;
}
a.available_link {
  color: #2C7673;
  box-shadow: inset 0 0 0 0 #2C7673;
}
a.available_link:hover {
  box-shadow: inset 300px 0 0 0 #2C7673;
  color: #FFFFFF;
}
a.nav_linkje {
  color: #FFFFFF;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  font-weight: 300;
  opacity: 0.8;
  font-size: 1.3em;
}
a.nav_linkje:hover {
  opacity: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}
a.nav_linkje:active {
  color: #07302D;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
  padding: 0.1em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: -0.2em;
}

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: #2C7673;
  background-color: rgba(255, 255, 255, 0.3);
}

h6.question_title {
  font-size: 1em;
  font-weight: 500;
  color: #07302D;
}

.light_text {
  color: #2C7673;
  font-size: 0.9em;
  margin: 0.7em;
  top: 0;
}

.tags_container {
  align-items: center;
}

li.li {
  border: rgba(194, 90, 33, 0.2) 2px solid;
  border-radius: 0.25em;
  padding: 0.2em;
  display: inline;
  color: #2C7673;
  float: left;
  margin: 0.2em;
}
li.li.small {
  font-size: 0.8em;
  margin: 0.1em;
  height: fit-content;
}

ul.ul {
  list-style-type: none;
  padding: 0;
  margin: 0.2em;
}

.def {
  font-weight: 500;
  margin: 1em;
  color: #C25A21;
  padding: 0.3em;
}

.profile_info {
  font-size: 1.05em;
}

.li_division {
  width: 100%;
  display: grid;
}

.questions_preview {
  border-radius: 0.25em;
  box-shadow: 0.15em 0.15em 0.6em rgba(0, 0, 0, 0.08);
  padding: 0.2em;
  display: inline-block;
  width: 80%;
}

.question_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.1;
}

.question_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.1;
  font-size: 0.9em;
  color: #2C7673;
}

.expand_descr {
  overflow: visible;
  color: #C25A21;
}

.questions_ava {
  display: inline-flex;
  width: 18%;
  max-height: 4em;
  text-align: center;
  justify-content: center;
}

.questions_left {
  display: inline-block;
  width: 70%;
}

.questions_right {
  display: inline-block;
  text-align: right;
  color: #2C7673;
  width: 28%;
  font-size: 0.8em;
}

.question_status {
  color: #FFFFFF;
  background-color: #D2EBF0;
  text-align: center;
  border-radius: 30px;
  padding: 0.3em;
  margin: 0.2em;
  width: 100%;
}
.question_status.location {
  padding: 0;
  background: none;
  color: #2C7673;
}
.question_status.answer, .question_status.change {
  color: #C25A21;
  border: none;
  font-size: 0.8em;
  align-self: center;
  padding-left: 0.9em;
  padding-right: 0.9em;
}
.question_status.answer:hover, .question_status.change:hover {
  background-color: #C25A21;
  color: #D2EBF0;
}
.question_status.answer:focus, .question_status.change:focus {
  background-color: #C25A21;
  color: #D2EBF0;
  box-shadow: 0 0 12px rgba(194, 90, 33, 0.5) !important;
}
.question_status.answer:active, .question_status.change:active {
  background-color: #C25A21;
  color: #D2EBF0;
}

.question_date {
  font-size: 0.9em;
  color: #2C7673;
}

.question_ava {
  box-shadow: 0.15em 0.15em 0.4em rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  width: 4em;
  height: 4em;
  display: inline-flex;
  object-fit: cover;
}

.questions_sm {
  height: fit-content;
  margin-bottom: 0.5em;
}

.user_info_hover {
  border-radius: 0.5em;
  z-index: 4;
  color: #2C7673;
  box-shadow: 0.15em 0.15em 0.6em rgba(0, 0, 0, 0.08);
  padding: 0.2em;
  position: absolute;
  background-color: #FFFFFF;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0;
  text-align: center;
  display: none;
  animation: popUp 0.05s;
}

.available_border {
  outline: 3px rgba(157, 212, 168, 0.5) solid;
}

.unavailable_border {
  outline: 3px rgba(249, 141, 141, 0.5) solid;
}

.marked {
  color: #C25A21;
}

.offline_students_container {
  overflow: hidden;
}

.student_offline {
  display: inline-flex;
  margin-bottom: 1em;
}

.student_descr {
  display: inline-block;
  color: #2C7673;
  margin-left: 0.5em;
}

.nearby_ava {
  box-shadow: 0.15em 0.15em 0.4em rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  width: 4em;
  height: 4em;
  object-fit: cover;
}

.nearby_name {
  font-weight: 500;
  color: #07302D;
  display: block;
  align-self: center;
  align-content: center;
}
.nearby_name .inline_block {
  display: grid;
  vertical-align: middle;
}

.nearby_studies {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.1;
  font-size: 0.9em;
}
.nearby_studies.room {
  color: #C25A21;
}

.floatertje_right {
  text-align: right;
}

.border-red {
  border: red solid 2px;
}
.border-green {
  border: green solid 2px;
}

.right_side {
  display: inline-block;
  font-size: 1.1em;
  width: 70%;
  vertical-align: top;
  margin-left: 1em;
}

.light_icon {
  max-height: 2.5em;
  max-width: 2.5em;
  vertical-align: middle;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.light_icon.small {
  max-height: 2em;
  max-width: 2em;
  left: 0;
}
.light_icon.smaller {
  height: 1.2em;
  width: 1.2em;
  position: static;
  display: inline-block;
  vertical-align: middle;
  align-content: center;
  align-self: center;
}

.notification_container {
  background-image: url(../images/icons/kleur/notification_num.svg);
  vertical-align: middle;
  position: absolute;
  display: inline-flex;
  align-content: center;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  right: 0.5em;
  top: 0.6em;
}

.small_font {
  font-size: 0.7em;
  text-align: center;
  width: 100%;
}

.availability_circle {
  height: 12px;
  width: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.btn {
  background-color: #D2EBF0;
  border: none;
  color: #C25A21;
  font-weight: 500;
}
.btn.sign_in {
  background-color: #2C7673;
  color: #D2EBF0;
}
.btn:hover {
  background-color: #C25A21;
  color: #D2EBF0;
}
.btn:focus {
  background-color: #C25A21;
  color: #D2EBF0;
  box-shadow: 0 0 12px rgba(194, 90, 33, 0.5) !important;
}
.btn:active {
  background-color: #C25A21;
  color: #D2EBF0;
}
.btn.send {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

input[type=text].form-control {
  background-color: #FFFFFF;
}
input[type=text].form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 12px rgba(194, 90, 33, 0.5) !important;
}
input[type=text].search_form {
  display: inline-flex;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  padding: 1em;
  background: none;
  height: 100%;
  width: 90%;
  border: none;
  text-overflow: ellipsis;
}
input[type=text].search_form::placeholder {
  font-size: 1.1em;
  font-weight: 200;
}
input[type=text].search_form:focus {
  outline: none;
}

textarea.form-control {
  border: none;
  background-color: #f5f6f7;
}
textarea.form-control:focus {
  box-shadow: 0 0 10px rgba(194, 90, 33, 0.5);
}

textarea.question_area {
  width: 100%;
  height: 16vh;
}
textarea.comment_area {
  width: 95%;
  display: inline-flex;
  max-height: 10em;
}

td {
  vertical-align: top;
  padding: 0.3em;
}

.question {
  width: 100%;
  margin-left: 0.3em;
}

select.question {
  width: 100%;
}

.btn_div {
  margin-top: 1em;
  position: absolute bottom;
}

.in_btn {
  bottom: 0;
}

.switch-button {
  background: rgba(194, 90, 33, 0.5);
  border-radius: 30px;
  overflow: hidden;
  width: 12em;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
  line-height: 1em;
  position: relative;
  padding-right: 6em;
  position: relative;
}
.switch-button:before {
  content: "online";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(6em);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 0.7em 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #C25A21;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

table.question_table {
  width: 100%;
  max-height: 30vh;
}

.cell_left {
  width: 50%;
}

.toggle_center {
  text-align: center;
}

.toggle_container {
  display: inline-flex;
  width: fit-content;
}

.hidden_text {
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  height: 10vh;
}

.row.all {
  background-color: #D2EBF0;
}
.row.search-profile {
  background-color: #FFFFFF;
  height: 10vh;
  position: relative;
}
.row.full {
  padding: 0;
  padding-top: 2em;
}
.row.greet {
  padding: 0;
}

.col.navje, .navje.col-4, .navje.col-8, .navje.col-2 {
  background-color: #2C7673;
  padding: 0;
  margin: 0;
}
.col.left, .left.col-4, .left.col-8, .left.col-2 {
  margin: 0;
  padding: 0 0 0 2em;
}
.col.left.searchje, .left.searchje.col-4, .left.searchje.col-8, .left.searchje.col-2 {
  vertical-align: middle;
  display: inline-flex;
}
.col.left.side, .left.side.col-4, .left.side.col-8, .left.side.col-2 {
  padding: 0 0 0 4em;
}
.col.right, .right.col-4, .right.col-8, .right.col-2 {
  margin: 0;
  padding: 0 2em 0 2em;
}
.col.right.side, .right.side.col-4, .right.side.col-8, .right.side.col-2 {
  padding: 0 4em 0 2em;
}
.col .bottom-page, .col-4 .bottom-page, .col-8 .bottom-page, .col-2 .bottom-page {
  flex-direction: column;
}

.block {
  border-radius: 1em;
  box-shadow: inset 0 0 3em rgba(159, 184, 188, 0.15), 0.15em 0.15em 0.5em rgba(159, 184, 188, 0.15);
  padding: 1em;
  background-color: #FFFFFF;
  display: block;
  overflow: auto;
  width: 100%;
}
.block.no-overflow {
  margin-bottom: 1em;
}
.block.highlighted {
  box-shadow: 0 0 14px rgba(194, 90, 33, 0.5) !important;
  background-color: #fff9f6;
  transition: ease-in-out;
}

.inner_block {
  overflow: hidden;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
}

/* top bar */
.top_bar_container {
  position: absolute;
  display: inline-flex;
  max-height: 10vh;
  right: 1em;
}

.profile_buttons {
  padding: 0.9em 0.4em 0.9em 0.4em;
  align-items: center;
  display: inline-flex;
  float: left;
  vertical-align: top;
  height: 10vh;
  position: relative;
  left: 0px;
}
.profile_buttons.no-padding {
  padding: 0.4em 0 0.4em 0;
}
.profile_buttons.more-padding {
  padding: 1.4em 0.4em 1.4em 0.4em;
}

.user_info {
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  align-items: center;
  margin: 0 1em 0 1em;
  height: 10vh;
}

.user_titles {
  display: inline-block;
  vertical-align: middle;
}

.user_subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.1;
}

.greet {
  padding-left: 4em;
}

/* login page */
.login_height {
  height: 15vh;
}

.login_logo {
  height: 25vh;
}

/* navigation */
.logo-div {
  text-align: center;
  align-content: center;
}

.nav_links {
  margin-top: 2em;
  width: 100%;
  align-content: center;
}

.nav_link {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.float-bottom-right {
  position: absolute;
  bottom: 0.5em;
  right: 0.8em;
}

.answer_popup, .change_question_popup {
  padding: 1em;
  z-index: 5;
  opacity: 1;
  position: fixed;
  overflow-y: scroll;
  left: 30%;
  right: 30%;
  top: 15%;
  bottom: 15%;
  box-shadow: 0.2em 0.2em 0.9em rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  border-radius: 1.2em;
  display: none;
  animation: popUp 0.2s;
}
.answer_popup.change_height, .change_height.change_question_popup {
  height: fit-content;
}
.answer_popup::-webkit-scrollbar, .change_question_popup::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(210, 235, 240, 0.2);
  /* or add it to the track */
  border-radius: 2em;
  height: 90%;
}
.answer_popup::-webkit-scrollbar-thumb, .change_question_popup::-webkit-scrollbar-thumb {
  background-color: #D2EBF0;
  border-radius: 2em;
  margin-top: 20px;
}
.answer_popup::-webkit-scrollbar-track, .change_question_popup::-webkit-scrollbar-track {
  margin: 6px;
  right: 20px;
}

.description_popup {
  display: inline-block;
  border-radius: 0.4em;
  width: 75%;
  margin: 1em;
  padding: 0.5em;
  height: fit-content;
  background-color: rgba(210, 235, 240, 0.5);
}
.description_popup.main_question {
  background-color: #D2EBF0;
}

.user_popup {
  display: grid;
  position: relative;
  width: 15%;
  align-self: center;
  text-align: center;
}

.questiontje {
  align-content: center;
  display: inline-flex;
  height: fit-content;
}
.questiontje.show_only {
  align-self: center;
  align-items: center;
}

.close {
  max-width: 1.5em;
  max-height: 1.5em;
  display: inline-flex;
  cursor: pointer;
  position: fixed;
  z-index: 6;
}

.close_popup {
  width: 100%;
  padding-right: 2em;
  text-align: end;
  align-items: flex-end;
}

#panel {
  /* Should take whole screen */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Semi-transparent black */
  background: #FFFFFF;
  /* Initial settings */
  z-index: 1;
  display: none;
  opacity: 0.7;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.15s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes popUp {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
