
    {% extends "layout.html" %}
    {% load static %}



    {% block title %}
        HyLight: dashboard
    {% endblock %}
    
    
    {% block profile %}
    
    
    {% endblock %}
    
    
    {% block ask %}

    
        <h4>Profile info</h4>
        <table class="profile_info">
            <tr>
                <td class="def">
                    Username:
                </td>
                <td>
                    {{request.user.username}}
                </td>
                <td class="def text-nowrap">
                    Short bio:
                </td>
                <td>
                    {{request.user.profile.title}}
                </td>
            </tr>
            <tr>
                <td class="def">
                    Name:
                </td>
                <td>
                    {{request.user.first_name}} {{request.user.last_name}}
                </td>
                <td class="def" rowspan="2">
                    Bio:
                </td>
                <td rowspan="2">
                    {{request.user.profile.bio}}
                </td>
            </tr>

            <tr>
                <td class="def">
                    E-mail address:
                </td>
                <td>
                    {{request.user.email}}
                </td>
            </tr>
         
        </table>


    
    {% endblock %}
        
    
    {% block map %}
        
        <h4>Change availability and location</h4>
        {% if 'availability' in request.path %}
        <script src="{% static 'javascript/focus_div.js' %}"></script>
        <script>
            $(document).ready(function(){
                focusAvailability("#availability_info");
            });
        </script>

        {% endif %}
      

        <table class="profile_info">
            
            <form method = 'post'>
                {% csrf_token %}
            
                {% for field in form %}
                    <tr>
                        <td class="def">{{field.label}}</td>
                        
                        <td width="55%">
                        {% if field.label == 'Location'%}
                            {{ field }}
                            <div class="hidden_text">{{request.user.profile.location}}</div>
                        {% else %}

                        
                            {% if request.user.profile.available == True %}
                                <span class="selectme">
                                    <input type="checkbox" id="availability_check" name="available">
                                </span>
                            {% else %}
                            <input type="checkbox" id="availability_check" name="available">
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            <tr><td></td>
                <td><br>
                    <button class="btn btn-primary float-end send align-bottom" type = 'submit'>Send</button>
                </td>
            </tr>
            <br>
            </form>
            
        </table>
        
    
    {% endblock %}
    
    {% block questions %}
        
        <h4>Educational background</h4>

        <div class="li_division">
            <h6>Current studies</h6>
            
            <ul class="ul">
                {%for i in request.user.profile.get_current_studies %}
                
                <li class="li">
                    {{i}}
                </li>
                {% endfor %}
            </ul>

        </div>

        <div class="li_division">

            <h6>Past studies</h6>
            <ul class="ul">
                {%for i in request.user.profile.get_past_studies %}
                
                <li class="li">
                    {{i}}
                </li>
                {% endfor %}
            </ul>
            
        </div>
    
        <button type="button" class="btn btn-primary float-end send">Add or remove studies</button>

    
    {% endblock %}
    
    {% block chat %}
        
        <h4>Your skills</h4>
            {%for i in request.user.profile.get_skills %}
            <ul class="ul">
            <li class="li">
                {{i}}
            </li>
        </ul>

        {%endfor%}
        <a href="{% url 'change_skills' %}" class="a_btn">
            <button type="button" class="btn btn-primary float-end send">Add or remove skills</button>
        </a>
    
    {% endblock %}