$toggle_half: 6em;
$toggle_width: $toggle_half * 2;

.btn {
    background-color: $bg;
    border: none;
    color: $accent;
    font-weight: 500;
    &.sign_in {
      background-color: $nav;
      color: $bg;
    }
    &:hover {
      background-color: $accent;
      color: $bg;
    }
    &:focus {
      background-color: $accent;
      color: $bg;
      box-shadow: 0 0 12px $accent_rgba !important; 
    }
    &:active {
      background-color: $accent;
      color: $bg;
    }
    &.send {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }

input[type=text] {
  &.form-control {
    background-color: #FFFFFF;
    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: 0 0 12px $accent_rgba !important; 
    }
  }

  &.search_form {
    vertical-align: middle;
    padding: 1em;
    background: none;
    height: 100%;
    width: 90%;
    border: none;
    &::placeholder {
      font-size: 1.1em;
      font-weight: 200;
    }
    &:focus {
      outline: none;
    }
  }
}


textarea {
    &.form-control {  
      border: none;
      background-color: $bg_text;
      &:focus {
        box-shadow: 0 0 10px $accent_rgba; 
      }
    }
  }
  

textarea {
  &.question_area {
    width: 100%;
    height: 16vh;
  }
  &.comment_area {
    width: 95%;
    display:inline-flex;
    max-height: 10em;
  }
}
 
td {
  vertical-align: top;
  padding: 0.3em;
}
.question {
  width: 100%;
  margin-left: 0.3em;
}

select {
  &.question {
    width: 100%;
  }
  
}
.btn_div {
  margin-top: 1em;
  position:absolute bottom;
}

.in_btn {
  bottom: 0;
}

.switch-button {
  background: $accent_rgba;
  border-radius: 30px;
  overflow: hidden;
  width: $toggle_width;
  text-align: center;
  font-size: 1em;
  // letter-spacing: 1px;
  color: #FFFFFF;
  line-height:1em;
  position: relative;
  padding-right: $toggle_half;
  position: relative;

  &:before {
    content: "online";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $toggle_half;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX($toggle_half);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 0.7em 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: $accent;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}

table {
    &.question_table {
    width: 100%;
    max-height: 30vh;
  }
}

.cell_left {
  width: 50%;
}

.toggle_center {
  text-align:center;
}
.toggle_container {
  display: inline-flex;
  width: fit-content;
}

.hidden_text {
  display: none;
}