.navbar {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  height: $search-height;
}
.row {

    &.all {
      background-color: $bg;
    }
    &.search-profile {
      background-color: #FFFFFF;
      height: $search-height;
      position: relative;
    }
    &.full {
      padding:0;
      padding-top: $padding;
    }
    &.greet {
      padding:0;
    }
  }

.col {
    &.navje {
      background-color: $nav;
      padding: 0;
      margin:0;
    }

    &.left {
      margin:0;
      padding:0 0 0 $padding;

      &.searchje {
          vertical-align: middle;
          display: inline-flex;
        }

      &.side {
        padding:0 0 0 $padding_side;
      }
    }
    &.right {
      margin:0;
      padding:0 $padding 0 $padding;
      &.side {
        padding:0 $padding_side 0 $padding;
      }
      
    }
    .bottom-page {
      flex-direction: column;
      // overflow: hidden;
      // max-height: 40vh;
    }

}
  
.col-2 {
  @extend .col;
}
  
.col-8 {
  @extend .col;
}
  
.col-4 {
  @extend .col;
}