.block {
    border-radius: 1em;
    box-shadow: inset 0 0 3em $bg_shadow, 0.15em 0.15em 0.5em $bg_shadow;
  
    padding: 1em;
    background-color: $block;
    display: block;
    overflow: auto;
    width: 100%;
    &.no-overflow {
        // overflow: hidden;
        // height: 97%;
        margin-bottom:1em;
    }
    &.highlighted {
        box-shadow: 0 0 14px $accent_rgba !important;
        background-color: #fff9f6;
        transition: ease-in-out;
        // #C25A21;

    }

}
.inner_block {
    overflow: hidden;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}


/* top bar */

.top_bar_container {
    position: absolute;
    display: inline-flex;
    max-height: $search-height;
    right: 1em;
}

.profile_buttons {
    padding: 0.9em 0.4em 0.9em 0.4em;
    align-items: center;
    display:inline-flex;
    float: left;
    vertical-align: top;
    height: $search-height;
    position:relative;
    left: 0px;
    &.no-padding {
        padding: 0.4em 0 0.4em 0;
    }
    &.more-padding {
        padding: 1.4em 0.4em 1.4em 0.4em;
    }
}

.user_info {
    display: inline-flex;
    text-align: center;
    vertical-align: top;
    align-items: center;
    margin: 0 1em 0 1em;
    height: $search-height;
  }

.user_titles {
    display: inline-block;
    // width:300px;
    vertical-align: middle;
  }

.user_subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    line-height: 1.1;

}
.greet {
    padding-left: $padding_side;
}
  
/* login page */

.login_height {
    height: 15vh;
}
  
.login_logo {
    height: 25vh;
}

/* navigation */

.logo-div {
    text-align:center;
    align-content: center;
  }

.nav_links {
    margin-top: 2em;
    width: 100%;
    align-content: center;

}

.nav_link {
    display: inline-flex;
    align-items:center;
    // height: 4em;
    vertical-align: middle;
}

.float-bottom-right {
    position: absolute;
    bottom: 0.5em;
    right: 0.8em;
}