//Utilities

body {
  font-size: 0.9em;
  color: $dark;
  font-family: "Karla", "Arial Nova", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, $nav 0% 16.65%, $bg 16.65% 100%);
  &::-webkit-scrollbar {
    width: 15px;

    opacity: 0;
    background-color: rgba(255,255,255, 0);/* or add it to the track */
    height: 90%;
  }
&::-webkit-scrollbar-thumb {

    background-color: $bg;
    border: rgba(255, 255, 255, 0.8) 2px solid;
    // border-radius:2em;
  }
  &::-webkit-scrollbar-track {

    margin-top: $search-height;
    background-color: none;
    opacity: 0;
    background-color: rgba(255,255,255, 0);
  }
}

.logo {
  width: 80%;
  display: inline-block;
  margin-top: 1em;
}

.icon {
  width: 15%;
  opacity: 0.8;
  vertical-align: middle;
  left: 0;
  margin: 1em 1.8em 1em 1.8em;
}

.auto_height {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.search_icon {
  @extend .auto_height;
  align-self: center;
  vertical-align: middle;
  align-self: center;
  display: inline-flex;
}

.round_icon {
  @extend .auto_height;
  margin: 0.2em;
  box-shadow: 0.15em 0.15em 0.4em $black_shadow;
  border-radius: 100% 100% 100% 100%;
  align-self: center;
  display: inline-flex;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  cursor: pointer;
  &.profile_page {
    height: 70%;
    width: 70%;
    display: grid;
    vertical-align: middle;
    align-self: center;
  }

}

a { 
  &.animated {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 $accent;
    color: $accent;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    &:hover {
      box-shadow: inset 300px 0 0 0 $accent;
      color: $bg;
      &.a_btn {
        box-shadow: none !important;
      }
    }
  }
  &.available_link {
    color: $nav;
    box-shadow: inset 0 0 0 0 $nav;
    &:hover {
      box-shadow: inset 300px 0 0 0 $nav;
      color: #FFFFFF;
    }
  }

  &.nav_linkje {
    @extend .animated;
    color: #FFFFFF;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    font-weight: 300;
    opacity: 0.8;
    
    font-size: 1.3em;
    &:hover {
      opacity: 1;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    }
    &:active {
      color: $dark;
      
    }
  }
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
  padding: 0.1em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: -0.2em;
}

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: $nav;
  background-color: rgba(255, 255, 255, 0.3);
}

h6 {
  &.question_title {
    font-size: 1em;
    font-weight: 500;
    color: $dark;
  }
}

.light_text {
  color: $nav;
  font-size: 0.9em;
  margin: 0.7em;
  top: 0;

}

.tags_container {
  align-items:center;
}

li {
  &.li {
    border: rgba(194, 90, 33, 0.2) 2px solid;
    border-radius: 0.25em;
    padding: 0.2em;
    display: inline;
    color: $nav;
    float: left;
    margin: 0.2em;
    &.small {
      font-size: 0.8em;
      margin: 0.1em;
      height: fit-content;
    }
  }
}


ul {
  &.ul {
    list-style-type: none;
    padding:0;
    margin: 0.2em;
  }
}

.def {
  font-weight: 500;
  margin: 1em;
  color: $accent;
  padding: 0.3em;
}

.profile_info {
  font-size: 1.05em;
}

.li_division {
  width: 100%;
  display: grid;
}


.questions_preview {
  border-radius: 0.25em;
  box-shadow: 0.15em 0.15em 0.6em $black_shadow;
  padding: 0.2em;
  display: inline-block;
  width: 80%;
}
.question_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  line-height: 1.1;

}

.question_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  line-height: 1.1;
  font-size: 0.9em;
  color: $nav;
}

.expand_descr {
  overflow: visible;
  color: $accent;
}


.questions_ava {
  display:inline-flex;
  width: 18%;
  max-height: 4em;
  text-align: center;
  justify-content: center;
}

.questions_left {
 display:inline-block;
 width: 70%;
 &.max_width {
   width: 98% !important;
 }
}

.questions_right {
  display:inline-block;
  text-align: right;
  color: $nav;
  width: 28%;
  font-size: 0.8em;
 }

.question_status {
  color: #FFFFFF;
  background-color: $bg;
  text-align: center;
  border-radius: 30px;
  padding: 0.3em;
  margin: 0.2em;
  width: 100%;
  font-size: 0.9em;
  &.location {
    padding: 0;
    background: none;
    color: $nav;
    font-size: 1.1em !important;
  }
  &.answer, &.change {
    color: $accent;
    border: none;
    font-size: 0.8em;
    align-self: center;
    padding-left: 0.9em;
    padding-right: 0.9em;
    &:hover {
      background-color: $accent;
      color: $bg;
    }
    &:focus {
      background-color: $accent;
      color: $bg;
      box-shadow: 0 0 12px $accent_rgba !important; 
    }
    &:active {
      background-color: $accent;
      color: $bg;
    }
  }
}

.question_date {
  font-size: 0.9em;
  color: $nav;
}

.question_ava {
  box-shadow: 0.15em 0.15em 0.4em $black_shadow;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  display: inline-flex;
  object-fit: cover;
  cursor: pointer;
}

.questions_sm {
  height: fit-content;
  margin-bottom: 0.5em;
}

.user_info_hover {
  border-radius: 0.5em;
  z-index: 4;
  color: $nav;
  box-shadow: 0.15em 0.15em 0.6em $black_shadow;
  padding: 0.2em;
  position: absolute;
  background-color: #FFFFFF;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0;
  text-align: center;
  display: none;
  animation: popUp 0.05s;
}


.light_info_hover {
  border-radius: 0.5em;
  z-index: 4;
  color: $nav;
  box-shadow: 0.15em 0.15em 0.6em $black_shadow;
  padding: 0.2em;
  position: absolute;
  max-width: 40%;
  background-color: #FFFFFF;
  font-size: 0.9em;
  margin: 0;
  right: 0;
  text-align: center;
  display: none;
  animation: popUp 0.05s;
}

.available_border {
  outline: 3px rgba(157, 212, 168, 0.5) solid;
}

.unavailable_border {
  outline: 3px rgba(249, 141, 141, 0.5) solid;
}

.marked {
  color: $accent;
}

.offline_students_container {
  overflow: hidden;
  // height: 100%;
}

.student_offline {
  display: inline-flex;
  margin-bottom: 1em;
}

.student_descr {
  display: inline-block;
  color: $nav;
  margin-left: 0.5em;
}

.nearby_ava {
  box-shadow: 0.15em 0.15em 0.4em $black_shadow;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  object-fit: cover;
 
}

.nearby_name {
  font-weight: 500;
  color: $dark;
  display: block;
  align-self: center;
  align-content: center;
  .inline_block {
    display: grid;
    vertical-align: middle;
    
  }
}

.nearby_studies {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  line-height: 1.1;
  font-size: 0.9em;
  &.room {
    color: $accent;
  }

}

.floatertje_right {
  // display: inline-block;
  text-align:right;
  // width: 100%;
  // background-color: rgba(168, 42, 42, 0.2)

}


.border {
  &-red {
  border: red solid 2px;
  }
  &-green {
    border: green solid 2px;
    
  }
}

.right_side {
  display: inline-block;
  font-size: 1.1em;
  width: 70%;
  vertical-align: top;
  margin-left: 1em;
}

.light_icon {
    max-height: 2.5em;
    max-width: 2.5em;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    &.small {
      max-height: 2em;
      max-width: 2em;
      left: 0;
    }
    &.smaller {
      height: 1.2em;
      width: 1.2em;
      position: static;
      display: inline-block;
      vertical-align:middle;
      align-content: center;
      align-self: center;
    }
}

.notification_container {
  background-image: url(../images/icons/kleur/notification_num.svg);
  vertical-align: middle;
  position: absolute;
  display: inline-flex;
  align-content: center;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  right: 0.5em;
  top: 0.6em;
}

.small_font {
  font-size: 0.7em;
  text-align: center;
  width: 100%;
}

.availability_circle {
    height: 12px;
    width: 12px;
    display:inline-flex;
    vertical-align: middle;
}


