$padding: 2em;
$padding_side: $padding * 2;
$bg: #D2EBF0;
$bg_shadow: rgb(159, 184, 188, 0.15);
$black_shadow: rgb(0, 0, 0, 0.08);
$nav: #2C7673;
$dark: #07302D;
$block: #FFFFFF;
$accent: #C25A21;
$accent_rgba: rgba(194, 90, 33, 0.5);
$search-height: 10vh;
$bg_text: #f5f6f7;
