
{% extends "layout.html" %}
{% load static %}

{% block title %}
    HyLight: dashboard
{% endblock %}


{% block profile %}



{% endblock %}


{% block ask %}

<!-- Semi-transparent background of background when showing pop -->
<div id="panel"></div>

<div class="position-relative">
    <div id="light_explanation" class="light_info_hover" >
       We will attach the <u style="text-decoration-color: {{ colour }}; text-decoration-thickness: 3px; text-decoration-skip-ink: none;">colour {{ colour }}</u> to your question. Your Hylighter and that of potential replyers will turn this colour, so you can easily find one another. 
    </div>
    <img id="question_light" class="light_icon" src="{% static 'images/icons/light_white.svg' %}" >
    <span class="hidden_text light_colour">{{colour}}</span>
</div>

    <h4>Ask a question</h4>
    
    <form method = 'post'>
          {% csrf_token %}
            <table class="question_table" style="margin-top: -0.8em;" >
                        
                {% for field in form %}
                
                    {% if field.label == "Title" %}
                        <tr>
                            <td class="cell_left p-2">
                                {{field.label}}
                                <br>
                                {{field}}
                            </td>
                    {%elif field.label == "Study" %}
                            <td class="study_skills p-2">
                                #{{field.label}}<br>
                                
                                {{field}}
                            </td>
                        </tr>
                    {%elif field.label == "Description" %}
                        </tr>
                        <tr class ="row_height_descr">
                            <td class="cell_left p-2 " rowspan="2">
                                {{field.label}}
                                <br>
                    {{field}}
                            </td>
                {% elif field.label == "Skills"%}
                            <td class="study_skills p-2" style="padding-top: 0.8em">
                                #{{field.label}}<br>
                                {{field}}                                
                            </td>
                    </tr>
                
                {%elif field.label == "Online" %}
                
                <tr>
                    <td>
                        <div class="toggle_center">
                            <div class="toggle_container">
                                <div class="switch-button">
                                    {{field}}
                                    <label class="switch-button-label" for=""><span class="switch-button-label-span">on campus</span></label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary float-end" type = 'submit'>Send</button>
                    </td>
                </tr>

                {% endif %}
            
            {% endfor %} 
        
        </table>
        
        <input type="hidden" id="question_colour" name="question_colour" value={{colour}}>
      </form>



{% endblock %}
    

{% block map %}
<h4>Students on campus</h4>

{% for s in students_campus|slice:":3" %}
    {% include "hl/blocks/students_on_campus.html" %}
{% endfor %}
<div  class="floatertje_right"><a href="{% url 'available_students' %}" class="animated">Show all available students...</a></div>
    

{% endblock %}

{% block questions %}
    
<h4>Recent questions for you</h4>
            
{% include "hl/blocks/questions_for_you.html" %}
<div  class="floatertje_right"><a href="{% url 'questions_for_you' %}" class="animated">Show all questions for you...</a></div>

{% endblock %}

{% block chat %}
    
    <h4>Chat</h4>
    {% include "hl/blocks/chat.html" %}

{% endblock %}