
{% extends "layout_forum.html" %}
{% load static %}

{% block title %}
    HyLight: question {{ q.title }}
{% endblock %}


{% block middle %}



    
    
    <div class="d-flex justify-content-center">
        <div class="questions_left w-100 m-0 text-center">
            <script src="{% static 'javascript/status.js' %}"></script>
            <script src="{% static 'javascript/short_comment.js' %}"></script>
            
            <div class="questiontje start-0 w-100 justify-content-start">
                <div class="user_popup">
                    <span class="nearby_name inline_block" >
                        {%if not q.user.profile.avatar %}
                            <img class="question_ava" src="{% static 'images/icons/kleur/ava.svg' %}" ><br>
                            {{q.user.username}}
                            {% else %}
                    <img class="question_ava" src="{{q.user.profile.avatar}}" ><br>
                        {{q.user.username}}
                        {% endif %}
                    </span>
                </div>
                
                <div class="description_popup main_question">
                    <span class="nearby_name">{{q.title}}</span>
    
                    {{q.description}}
                    
                </div><p>
                    <div class="questions_right">
                        <div class="question_status location">
                            {{q.get_location}}
                        </div>
                        <div class="question_status">
                            {{q.get_status_display}}
                        </div>
        
                        <span class="question_date">
                        {{q.posted }}
                        </span>
                    </div>
    
            </div>
            <div class=" d-flex w-80 justify-content-center tags_container">
                <span class="light_text">Tags:</span>
                {% for skill in q.skills.all %}
                <li class="li small">{{skill}}</li>
                {% endfor %}
                {% for study in q.study.all %}
                <li class="li small">{{study}}</li>
                {% endfor %}
                </div>
            {% for c in q.get_all_comments %}
                    
                {%if forloop.counter|divisibleby:2 == False %}
                    <div class="questiontje end-0 w-100 justify-content-end">
                        <div class="description_popup w-auto">
                            {{c.description}}
                        </div>

                        <div class="user_popup">
                            <span class="nearby_name inline_block">
                                {%if not c.user.profile.avatar %}
                                    <img class="question_ava" src="{% static 'images/icons/kleur/ava.svg' %}" >
                                {% else %}
                            <img class="question_ava" src="{{c.user.profile.avatar}}" ><br>
                                {%endif%}
                                {{c.user}}
                            </span>
                        </div>
                    </div>
                {%else %}
                    <div class="questiontje start-0 w-100 justify-content-start">
                        <div class="user_popup">
                            <span class="nearby_name inline_block">
                                {%if not c.user.profile.avatar %}
                                    <img class="question_ava" src="{% static 'images/icons/kleur/ava.svg' %}" >
                                {% else %}
                            <img class="question_ava" src="{{c.user.profile.avatar}}" ><br>
                                {%endif%}
                                {{c.user}}
                            </span>
                        </div>

                        <div class="description_popup w-auto">
                            {{c.description}}
                        </div>
                    </div>
                {%endif%}
            
            
            {% endfor %}
            {% if q.get_status_display == 'pending' %}
                {% if q.online == False %}
                
                    <form method = 'post' class="m-1">
                        {% csrf_token %}
                        <div class="omw d-none"> 
                            
                            {{comment_form.description}}
                            <div class="hidden_text">
                                On my way{%if q.user.profile.location != None or q.user.profile.location != "" %} to {{q.user.profile.location}} {% endif %}to help you!
                            </div>

                        </div>
                        <input type="hidden" id="questionID" name="questionID" value={{q.pk}}>
                        
                        <button class="btn btn-primary float-center" type = 'submit'>
                            On my way 
                            {%if q.user.profile.location %}
                                to {{q.user.profile.location}}
                            {% endif %}
                            to help you!
                        </button>

                    </form>

                    <form method = 'post' class="m-1">
                        {% csrf_token %}
                        <div class="omw d-none"> 
                            {{comment_form.description}}
                            <div class="hidden_text">
                                {%if request.user.profile.location == None or request.user.profile.location == "" %}
                                Come meet me asap!
                                {% else %}
                                Come meet me at {{request.user.location}}!
                                {% endif %}
                            </div>

                        </div>
                        <input type="hidden" id="questionID" name="questionID" value={{q.pk}}>
                        <br>
                        <button class="btn btn-primary float-center" type = 'submit'>
                            {%if request.user.profile.location == None or request.user.profile.location == "" %}
                            Come meet me asap!
                            {% else %}
                            Come meet me at {{request.user.profile.location}}!
                            {% endif %}
                        </button>
                    </form>
                    {% else %}

                {% endif %}
                
            
            <br>
            <span class="nearby_name">Your comment:</span>
            <form method = 'post'>
                {% csrf_token %}
                
                {% for field in comment_form %}
                    {{field}}
                {% endfor %}
                <input type="hidden" id="questionID" name="questionID" value={{q.pk}}>
                <button class="btn btn-primary float-end in_btn" type = 'submit'>Send</button>
                <br>
            </form>
  
            {% endif %}

        </div>
        
    <!-- container -->
    </div>
{% endblock %}
