{% load static %}

    <div class="change_question_popup">
        <script src="{% static 'javascript/select.js' %}"></script>

        <div class="close_popup">
            <img class="close" src="{% static 'images/icons/kleur/close.svg' %}" >
        </div> 
           <form method = 'post'>
          {% csrf_token %}
            <table class="question_table">
                
                        
                {% for field in change_question_form %}
                
                {% if field.label == "Title" %}
                <tr>
                <td colspan="2">
                    {{field.label}}
                    <br>
                    
                    {{field}}
                    <div class="hidden_text">{{q.title}}</div>
                </td>
            </tr>
            {%elif field.label == "Description" %}
            <tr>
            <tr class ="row_height_descr">
            <td colspan="2">
                {{field.label}}
                <br>
                {{field}}
                <div class="hidden_text">{{q.description}}</div>
            
            </td>
        </tr>
            
            {%elif field.label == "Online" %}
            
            <tr>
                <td>
                    <div class="toggle_center">
                        <div class="toggle_container">
                            <div class="switch-button">
                                {{field}}
                                <label class="switch-button-label" for=""><span class="switch-button-label-span">on campus</span></label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="question_change_ID" name="question_change_ID" value={{q.pk}}>

                    <button class="btn btn-primary float-end in_btn" type = 'submit'>Send</button>
                        
                </td>
            </tr>
            {%elif field.label == "Status" %}
            <tr>
                <td>
            {{field.label}}<br>
            {%for choice in change_question_form.status %}
            {%if q.get_status_display == choice.choice_label %}
            <span class="selectme">{{ choice }}</span>
            {%else %}
            {{ choice }}
            {% endif %}
            {%endfor%}
            
            </tr>
            
            {% endif %}
            
            {% endfor %} 

        
        </table>        
    </form>
    </div>